<div>
  <% if can? :create, Recipe %>
<%= link_to "New Recipe", new_recipe_path %>
<% end %>
  
</div>



<nav style="padding: 20px;">
  <p><strong>Recipe Name:</strong><%= recipe.name%></p>
  <!-- <p><strong>Ingredients Name:</strong> <%# recipe.ingredients.map {|k| k.name}.join(', ') %></p> -->
  <p><strong>Category Name:</strong> <%= recipe.category.try :name %></p>
<ul>
  <li><%= button_to('Show', recipe, method: :get)%></li>
  <li><%= button_to('Edit', edit_recipe_path(recipe), method: :get)%></li>
  <li><%= button_to('Delete recipe', recipe_path(recipe), method: :delete, data:{confirm: 'Delete the recipe? Are you sure?'})%></li>
</ul>
 
</nav>