<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Recipe Name:</strong>
  <%= @recipe.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @recipe.name %> is in category: <%= @recipe.category.try(:name) %> <%#= Category.find(@recipe.category_id).name%>
  
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
<strong>Ingredients: </strong><br>
  <% @recipe.quantities.each do |quantity| %>
  <%= quantity.quantity %>
  <%= quantity.ingredient.try(:name) %><br>
  <% end %>
</p>

<strong><%= link_to 'Edit', edit_recipe_path(@recipe) %></strong>
<strong><%= link_to 'Back', recipes_path %></strong>




