<nav class = "container">
  <p><strong> Ingredient Name: </strong> <%= ingredient.name%></p>
  <p><strong>Recipe Name:</strong><%= ingredient.recipes.map {|k| k.name}.join(', ') %></p>
  
  <div>
  <%= button_to('Show', ingredient_path(ingredient), method: :get)%>
  <%= button_to('Edit', edit_ingredient_path(ingredient), method: :get)%>
  <%= button_to('Delete ingredient', ingredient_path(ingredient), method: :delete, data:{confirm: 'Delete the ingredient? Are you sure?'})%>
  </div>
<br>
</nav>