<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %> 
  
</p>

<p>
  <strong>Unit:</strong>
  <%= @ingredient.unit %>
</p>

<p>
  <strong>Recipes Name:</strong>
  <%= @ingredient.recipes.map {|k| k.name}.join(', ') %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%#= link_to 'Back', recipes_path %>




