<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Recipes Name:</strong>
  <%= @ingredient.recipes.map {|k| k.name}.join(', ') %>
</p>

<strong><%= link_to 'Edit', edit_ingredient_path(@ingredient) %></strong>
<strong><%= link_to 'Back', recipes_path %></strong>




