<nav class="top-bar" data-topbar role="navigation">
<section class="top-bar-section">
  <ul class="left">
    <li> <%= link_to "All categories", categories_path %> </li>
    <!-- <li> <%= link_to('New Category', new_category_path)%></li>  -->
    <li> <%= form_tag(categories_path, method: "get") do %></li>
         <%#= label_tag(:name, "Search for Category:") %>
          <li><%= text_field_tag(:name) %></li>
          <li><%= submit_tag("Search Category") %></li>
          <li><% end %></li>
  </ul>
</section>

<section class="top-bar-section">
  <ul>
    <li> <%= link_to "All recipes", recipes_path %> </li>
    <!-- <li> <%= link_to('New Recipe', new_recipe_path)%></li> -->
    <li><%= form_tag(recipes_path, method: "get") do %></li>
      <%#= label_tag(:name, "Search for Recipe:") %>
      <li><%= text_field_tag(:name) %></li>
      <li><%= submit_tag("Search Recipe") %></li>
      <li><% end %></li>
  </ul>
</section>

<section class="top-bar-section">
  <ul>
    <li> <%= link_to "All ingredients", ingredients_path %> </li>
    <!-- <li> <%= link_to('New ingredient', new_ingredient_path)%></li> -->
    <li><%= form_tag(ingredients_path, method: "get") do %></li>
        <%#= label_tag(:name, "Search for Ingredient:") %>
        <li><%= text_field_tag(:name) %></li>
        <li><%= submit_tag("Search Ingredient") %></li>
        <li><% end %></li>
  </ul>
</section>

<section class="top-bar-section">
  <ul>
    <li> <%=link_to 'All quantities', quantities_path %> </li>
    <li><%= form_tag(quantities_path, method: "get") do %></li>
        <li><%= text_field_tag(:name) %></li>
        <li><%= submit_tag("Search Quantity") %></li>
        <li><% end %></li>
  </ul>
</section>

</nav>

